# 1. Eclipse 관련 설정 파일 및 폴더
.metadata/
Servers/
Servers2/
.settings/
.classpath
.project

# 2. Java 컴파일된 파일 및 빌드 폴더
*.class
bin/
build/
target/

# 3. 로그 파일
*.log

# 4. OS (운영체제) 임시 파일
.DS_Store
Thumbs.db